<%= form_for(@parse_exception) do |f| %>
  <% if @parse_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parse_exception.errors.count, "error") %> prohibited this parse_exception from being saved:</h2>

      <ul>
      <% @parse_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exception_type %><br />
    <%= @parse_exception.exception_type %>
  </div>
  <div class="field">
    <%= f.label :input_string %><br />
    <%= f.text_field :input_string %>
  </div>
  <div class="field">
    <%= f.label :resolution_string %><br />
    <%= f.text_field :resolution_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
