<%= form_for(@tag_matching_exception) do |f| %>
  <% if @tag_matching_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_matching_exception.errors.count, "error") %> prohibited this tag_matching_exception from being saved:</h2>

      <ul>
      <% @tag_matching_exception.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry_id %><br />
    <%= f.text_field :entry_id %>
  </div>
  <div class="field">
    <%= f.label :human_readable %><br />
    <%= f.text_field :human_readable %>
  </div>
  <div class="field">
    <%= f.label :serialized_entry %><br />
    <%= f.text_area :serialized_entry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
