<h1>Listing tag_matching_exceptions</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Human readable</th>
    <th>Serialized entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tag_matching_exceptions.each do |tag_matching_exception| %>
  <tr>
    <td><%= tag_matching_exception.entry_id %></td>
    <td><%= tag_matching_exception.human_readable %></td>
    <td><%= tag_matching_exception.serialized_entry %></td>
    <td><%= link_to 'Show', tag_matching_exception %></td>
    <td><%= link_to 'Edit', edit_tag_matching_exception_path(tag_matching_exception) %></td>
    <td><%= link_to 'Destroy', tag_matching_exception, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag matching exception', new_tag_matching_exception_path %>
